<%- include("templates/header") %>
<% if (!user) { %>
  <h1>Welcome to the Home Page</h1>
  <a class="btn btn-primary" href="/signup">Sign Up</a>
  <a class="btn btn-success" href="/login">Login</a>
<% } else { %>
  <h1>Hello, <%= user.name %></h1>
  <a class="btn btn-info" href="/members">Go to Cats Area</a>
  <a class="btn btn-danger" href="/logout">Logout</a>
<% } %>
<%- include("templates/footer") %>
