<%- include("templates/header") %>
<h1>Login</h1>
<form method="POST" action="/login" class="mb-3">
  <div class="mb-3">
    <label>Email</label>
    <input type="email" name="email" class="form-control" required>
  </div>
  <div class="mb-3">
    <label>Password</label>
    <input type="password" name="password" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-success">Login</button>
</form>
<a href="/signup">Need an account?</a>
<%- include("templates/footer") %>
